<html>
<head>
    <title>Ansible HomeLab</title>
</head>
<body>
   <center>
	 <h1>My IP Address is {{ ansible_ens32.ipv4.address }}  </h1>
    <br/><br/>
    <p>
        <img src="icons8-developer-64.png" alt="Developing mind"/>
    </p>
  </center>
</body>
</html>
